* {
  font-family: Arial;
}

main {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-div {
  background-color: aquamarine;
}

.orange-div {
  background-color: orange;
}

.pink-div {
  background-color: magenta;
}