@use 'mixins';

.btn {
  @include mixins.text;
  &--dotted-red {
    @include mixins.border(dotted, red);
    background-color: #ececec
  }
  &--solid-blue {
    @include mixins.border(solid, blue);
    background-color: white;
  }
  &--dashed-blue {
    @include mixins.border(dashed, blue);
    background-color: white;
  }
}