* {
  font-family: Arial, Helvetica, sans-serif;
}

.green-box {
  width: 600px;
  height: 200px;
  border: 2px solid orangered;
  background-color: lightgreen;

}

.pink-box {
  width: 600px;
  height: 160px;
  border: 1px solid orangered;
  background-color: hotpink;
  margin: 20px 0px 20px;
}

h1 {
  padding: 20px 0px 0px 40px;
  font-size: 1.5rem;
}

p {
  font-size: 0.8rem;
  padding-left: 60px;
}