body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column-reverse;
  /* flex-wrap: wrap; */
  border: 1px solid black;
  width: 600px;
}

#fiveToEight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#oneToFour {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#cardOne {
  background-color: lightskyblue;
}

#cardTwo {
  background-color: hotpink;
}

#cardThree {
  background-color: lightgreen;
}

#cardFour {
  background-color: orange;
}

#cardFive {
  background-color: lightpink;
}

#cardSix {
  background-color: lightgray;
}

#cardSeven {
  background-color: aliceblue;
}

#cardEight {
  background-color: lightblue;
}