body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 600px;

}

#fiveToEight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#oneToFour {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardOne {
  background-color: lightskyblue;
  margin: 10px;
}

#cardTwo {
  background-color: hotpink;
  margin: 10px;
}

#cardThree {
  background-color: lightgreen;
  margin: 10px;
}

#cardFour {
  background-color: orange;
  margin: 10px;
}

#cardFive {
  background-color: lightpink;
  margin: 10px;
}

#cardSix {
  background-color: lightgray;
  margin: 10px;
}

#cardSeven {
  background-color: aliceblue;
  margin: 10px;
}

#cardEight {
  background-color: lightblue;
  margin: 10px;
}